[Unit]
Description=CalendarBot API backend
After=network.target

[Service]
Type=simple
User=centos
Group=centos
WorkingDirectory=/home/centos/calendar-bot-backend/
EnvironmentFile=/home/centos/calendar-bot-backend/.env
ExecStart=/home/centos/calendar-bot-backend/build/bin/botbackend

[Install]
WantedBy=multi-user.target
